[user]
	name = Marcus Gasberg
	email = mrgasberg@hotmail.com

[init]
	templatedir = ~/.git-templates

[core]
	pager = delta
	editor = nvim
	excludesfile = ~/.config/git/ignore

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false

[diff]
	colorMoved = default

[merge]
	tool = nvimdiff
	conflictstyle = diff3

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvimdiff"]
	cmd = nvim -c "DiffviewOpen"
